# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\poohe\Downloads\UNIVERSITY_LAB_4B_5B_MLT-master\UNIVERSITY_LAB_4B_5B_MLT-master\DESMO_TEST\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
